user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {
    server {
        listen ${BIND_PORT};
        proxy_pass ${REMOTE_HOST}:${REMOTE_PORT};
    }
}
